### 60 questions task

In [ ]:
# 1
emp = {"name":"Amisha","age":24,"city":"pune"}

In [4]:
emp

{'name': 'Amisha', 'age': 24, 'city': 'pune'}

In [ ]:
#2
emp["name"]

'Amisha'

In [ ]:
#3
list = [1,2,3,4,5,6]

In [7]:
list

[1, 2, 3, 4, 5, 6]

In [ ]:
#4
list[1]

2

In [10]:
fruits = ["abc","watermelon"]

In [11]:
fruits

['abc', 'watermelon']

In [ ]:
#5
fruits.append("banana")

In [13]:
fruits

['abc', 'watermelon', 'banana']

In [ ]:
#6
fruits.insert(2,"apple")

In [15]:
fruits

['abc', 'watermelon', 'apple', 'banana']

In [ ]:
#7
lst = [1,2,3,4,5,6,7,8,9,10,11,12]

In [17]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#8
lst.remove(10)

In [19]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]

In [2]:
city = ("pune","kolhapur","mumbai","banglore")

In [3]:
city

('pune', 'kolhapur', 'mumbai', 'banglore')

In [ ]:
#9
city[(-1)]

'banglore'

In [ ]:
#10
ls = list(city)

In [10]:
ls

['pune', 'kolhapur', 'mumbai', 'banglore']

In [11]:
type(ls)

list

In [12]:
city = ("pune","kolhapur","mumbai","banglore")

In [ ]:
#10
len(city)

4

In [14]:
#11 crete two lists and concat them
col = ["blue","pink","red"]

In [15]:
col1 = ["green","black","white"]

In [16]:
col + col1

['blue', 'pink', 'red', 'green', 'black', 'white']

In [18]:
col.extend(col1)

In [19]:
col

['blue', 'pink', 'red', 'green', 'black', 'white']

In [24]:
#12 reverse the list without using reverse
col[::-1]

['white', 'black', 'green', 'red', 'pink', 'blue']

In [30]:
#13 sort a list in descending order
num = [50,30,29,5,2,15,67]

In [35]:
num.sort()

In [36]:
num

[2, 5, 15, 29, 30, 50, 67]

In [37]:
#14 create set of 5 numbers and add new no
s ={4,5,6,7,8}

In [38]:
s

{4, 5, 6, 7, 8}

In [40]:
s.add(9)

In [41]:
s

{4, 5, 6, 7, 8, 9}

In [42]:
#15 reamove an element from set using discard
s.discard(9)

In [43]:
s

{4, 5, 6, 7, 8}

In [44]:
#16 find a union of to sets
s1 ={1,1,3,7,8}

In [45]:
s2 ={2,2,5,8,9}

In [46]:
s1.union(s2)

{1, 2, 3, 5, 7, 8, 9}

In [ ]:
#17 find the intersection of two sets
s1.intersection(s2) #return that element present in both set

{8}

In [48]:
#18 check if value exist in the set
9 in s1

False

In [49]:
9 in s2

True

In [50]:
#19 create a set and clear all elements
games ={"cricket","kabbadi","kho-kho"}

In [51]:
games.clear()

In [52]:
games

set()

In [53]:
#20 convert a list with duplicate value in set
li = [10,20,20,30,20,40,50]

In [ ]:
li1 = set(li) # set automatically remove duplicates

In [55]:
li1

{10, 20, 30, 40, 50}

In [56]:
#21 create a dict and update a value of key
dict = {"department":"Hr","company":"tcs","id":101}

In [62]:
dict.update({"id":103})

In [63]:
dict

{'department': 'Hr', 'company': 'tcs', 'id': 103}

In [64]:
#22 delete a key value pair in dict
dict.__delitem__("id")

In [65]:
dict

{'department': 'Hr', 'company': 'tcs'}

In [66]:
#23 print all keys of dict
dict.keys()

dict_keys(['department', 'company'])

In [67]:
#24 print all values of dict
dict.values()

dict_values(['Hr', 'tcs'])

In [70]:
#25 loop through a dictionary print key and value
for key , value in dict.items():
    print(key,":",value)

department : Hr
company : tcs

In [71]:
#26 create a list of numbers and print only even number
lst = [1,2,3,4,5,6,8,10,12,13,14]

In [80]:
print('even numbers are:' , end=' ')
for i in lst:
    if i%2 == 0:
        print(i, end=' ')

even numbers are: 2 4 6 8 10 12 14

In [81]:
#27 create a tuple and unpack intro 3 variable
tup =(5,6,7,8,9)

In [82]:
a,b,*c = tup

In [84]:
a,b,c

(5, 6, [7, 8, 9])

In [85]:
tuple = (1,2,3)

In [86]:
(a,b,c) = (tuple)

In [87]:
a

1

In [88]:
b

2

In [89]:
c

3

In [90]:
#28 use the in operator to check if python is available in list
language = ["c","c++","python","R"]

In [91]:
language

['c', 'c++', 'python', 'R']

In [95]:
"python" in language

True

In [97]:
#29 check if number is grater than 10
num = 12

In [98]:
num > 10

True

In [99]:
num < 10

False

In [100]:
num >= 10

True

In [101]:
num <= 10

False

In [102]:
#30 use the and operator in a condition
num = 20

In [103]:
num1 = 30

In [106]:
if num>= 20 and num1>= 30:
    print("condition is true")

condition is true

In [2]:
#31 use % operator if the number is divied by 5
num = 25

In [3]:
if num%5 == 0:
    print("given number is divied by 5")

given number is divied by 5

In [4]:
num = 24

In [5]:
if num%5 == 0:
    print("given number is divied by 5")
else:
    print("given number is not divied by 5")

given number is not divied by 5

In [7]:
if num%5 != 0:
    print("True")
else:
    print("False")

True

In [8]:
if num%5 == 0:
    print("True")
else:
    print("False")

False

In [9]:
#32 use the ** operator to calculate 2 raised to the power 5
val = 2 ** 5

In [ ]:
val #2*2*2*2*2=32 2 multiple of 2 5 times

32

In [11]:
#33 create two numbers and compare them using >= operator
val1 = int(input("Enter a val1 :"))

In [12]:
val2 = int(input("Enter a val2 :"))

In [ ]:
val1 >= val2 # val1=20 , val2=25 so result is false

False

In [14]:
#34 crete a list and reomove last element using pop
cars = ["BMW","Thar","ertiga","lamborgini","creta","kia_seltos"]

In [15]:
cars.pop()

'kia_seltos'

In [16]:
cars

['BMW', 'Thar', 'ertiga', 'lamborgini', 'creta']

In [17]:
#35 craete a list and print first and last element of that list
cars = ["BMW","Thar","ertiga","lamborgini","creta","kia_seltos"]

In [18]:
cars[0]

'BMW'

In [19]:
cars[-1]

'kia_seltos'

In [20]:
#36 count how many times apple appears in the list
fruits = ["apple","apple","mango","cherry","apple"]

In [21]:
fruits.count("apple")

3

In [22]:
#37 create a tuple  and check if value exist using in 
even_numbers = (2,4,6,8,10,12,14,16,18,20)

In [23]:
4 in even_numbers

True

In [24]:
3 in even_numbers

False

In [25]:
#38 convert a dictionary keys into a list
city_special = {"kolhapur":"Misal","pune":"burger","mumbai":"vada-pav"}

In [26]:
city_special_menu = list(city_special)

In [27]:
city_special_menu

['kolhapur', 'pune', 'mumbai']

In [33]:
#39 create a nested dictionary for student(name,marks,subject)
stud_info = {
    "std1" : {"name":"amisha","marks":90,"sub":"Math"}
    
    }

In [31]:
stud_info

{'std1': {'name': 'amisha', 'marks': 90, 'sub': 'Math'}}

In [3]:
#40 merge 2 dictionary into one
std1 = {"name":"amisha","marks":90,"sub":"Math"}

In [4]:
std2 = {"name1":"aaradhya","marks1":100,"sub1":"english"}

In [5]:
std1.update(std2)

In [43]:
std1

{'name': 'amisha',
 'marks': 90,
 'sub': 'Math',
 'name1': 'aaradhya',
 'marks1': 100,
 'sub1': 'english'}

In [6]:
std = {**std1 ,**std2}

In [7]:
#41 create a set and print number of element
set = {1,2,3,4,5}

In [8]:
len(set)

5

In [9]:
#42 create a dictionary and print all the items using items
country = {"Abc":"India","xyz":"USA","pqr":"germany","you":"iran"}

In [10]:
country.items()

dict_items([('Abc', 'India'), ('xyz', 'USA'), ('pqr', 'germany'), ('you', 'iran')])

In [17]:
#43 cretae a list of 1 to 10 numbers and print the square of each one
number = [1,2,3,4,5,6,7,8,9,10]

In [18]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
for num in number:
    print("square is",num**2)

square is 1
square is 4
square is 9
square is 16
square is 25
square is 36
square is 49
square is 64
square is 81
square is 100

In [21]:
#44 multiply two numbers and print the result using *
num = 8 * 9

In [22]:
num

72

In [23]:
#45 divied two numbers and print the result using / or //
num = 9 / 4

In [24]:
num

2.25

In [30]:
#46 create a list and replace the element in index 1
ls = [10,9,8,7,6,5,4,3,2,1]

In [31]:
ls[1] = 100

In [32]:
ls

[10, 100, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
#47 createa a tuple using user values input (3 values)
tup1 = int(input("Enter first value of tuple :"))

In [38]:
tup2 = int(input("Enter second value of tuple :"))

In [39]:
tup3 = int(input("Enter third value of tuple :"))

In [42]:
tup = (tup1,tup2,tup3)

In [44]:
print("your tuple is :",tup)

your tuple is : (10, 20, 30)

In [50]:
#48 create a list from a string and print all unique character
name = ['a','m','i','s','h','a','a','s','h','o','k','t','o','r','a','s','e']

In [53]:
del set

In [54]:
unique_chars = set(name)

In [55]:
unique_chars

{'a', 'e', 'h', 'i', 'k', 'm', 'o', 'r', 's', 't'}

In [56]:
#49 use the is operator to compare two varibles
a = 10

In [57]:
b= 10

In [58]:
a is b

True

In [59]:
a = 20

In [60]:
b = 10

In [61]:
a is b

False

In [62]:
#50 create a dict and check key exist in dict using in
char ={"pen":"red","brush":"blue","pencil":"black"}

In [63]:
char

{'pen': 'red', 'brush': 'blue', 'pencil': 'black'}

In [65]:
if "brush" in char:
    print("key is exist")
else:
    print("key is not exist")

key is exist

In [66]:
if "mobile" in char:
    print("key is exist")
else:
    print("key is not exist")

key is not exist

In [68]:
#51 write a code to check if number is in between 10 to 50 using and
num = int(input("Enter a number :"))
if num>=10 and num<=50:
    print("number is in between 10 to 50")
else:
    print("number is out of the 10 to 50 range")

number is out of the 10 to 50 range

In [ ]:
#52 check the number is greater than 5 or grater than 20 using or
num = int(input("enter a value :")) #2
if num>=5 or num>=20:
    print("number is greater than 5 or 20")
else:
    print("number is not greater than 5 or 20 ")

number is not greater than 5 or 20

In [70]:
#53 use not to check if a the list is not empty
ls = [1,2,3]
if not ls:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [ ]:
#54 WAP to check if a chracter is a vowel using or
str = str(input("enter a chracter")) #p
charcter =['a','e','i','o','u']
if char in charcter:
    print("chracter is vowel")
else:
    print("character is not vowel")

character is not vowel

In [73]:
#55 check if dict has both keys name and age
person = {"name": "Amisha", "age": 22, "city": "Pune"}
if "name" in person and "age" in person:
    print("Both keys exist")
else:
    print("Keys missing")

Both keys exist

In [74]:
#56 verify if set contains either 10 or 20
numbers = {5, 10, 15, 25}
if 10 in numbers or 20 in numbers:
    print("Set either 10 or 20")
else:
    print("Neither 10 nor 20 is in the set")

Set either 10 or 20

In [ ]:
#57 use not to check number is not equal to 100
num = int(input("Enter a number: ")) #100
if not num == 100:
    print("Number is NOT equal to 100")
else:
    print("Number is equal to 100")

Number is equal to 100

In [ ]:
#58 condition to check if a std passed (marks > 35 attendance >75)
marks = int(input("enter a student marks")) #80
attendance = int(input("student attendance percentage :")) #80
if marks>35 and attendance> 75:
    print("student is passed")
else:
    print("student is failed")

student is passed

In [ ]:
#59 use logical operator to check the number is positive and even
num = int(input("Enter a number: ")) #6
if num > 0 and num % 2 == 0:
    print("Number is positive and even")
else:
    print("Condition not satisfied")

Number is positive and even

In [83]:
#60 check if a tuple has 3 elements or contains the value 0
tup = (5, 0, 9)
if len(tup) == 3 or 0 in tup:
    print("Condition satisfied")
else:
    print("Condition is not satisfied")

Condition satisfied

In [84]:
tup = (5, 6, 9,10)
if len(tup) == 3 or 0 in tup:
    print("Condition satisfied")
else:
    print("Condition is not satisfied")

Condition is not satisfied