### 1. Print numbers from 1 to 10 using a for loop

In [3]:
num = [1,2,3,4,5,6,7,8,9,10]
for n in num:
    print(n)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for n in range(1,21):
    if n%2==0:
        print(n)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [5]:
str="python"
for char in str:
    print(char)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [8]:
for n in range(1,6):
    print(n**n)

1
4
27
256
3125

### 5. Print all elements of a list using a for loop

In [9]:
list1 = [2,4,6,8,10]
for n in list1:
    print(n)

2
4
6
8
10

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [10]:
sum = 0
for n in range(1,51):
    sum += n
print("The sum of first 50 natural numbers is:", sum)

The sum of first 50 natural numbers is: 1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [15]:
for n in range(10,0,-1):
    print(n)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [16]:
for num in range(1,11):
    print(num * 7)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [18]:
str="education"
vowels = 0
for char in str:
    if(char=="a"or char=="e" or char=="i" or char=="o" or char=="u"):
        vowels+=1
print("Number of vowels in the string is:",vowels)

Number of vowels in the string is: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [19]:
for num in range(1,31,2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [21]:
str = "AMISHAashoktorase"
upper_str = 0
for char in str:
    if char.isupper():
        upper_str += 1
print("Number of uppercase letters in the string is:", upper_str)

Number of uppercase letters in the string is: 6

### 12. Create a new list that contains only the positive numbers from another list

In [22]:
pos_lst=[]
lst12=[12,-13,-23.45,100,-24,20,30]

for item in lst12:
    if item>0:
        pos_lst.append(item)

print(pos_lst)

[12, 100, 20, 30]

### 13. Print numbers from 1 to 10 using a while loop

In [23]:
num=1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [25]:
num =5
int=1
while(int<=10):
    print(num*int)
    int+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [26]:
num=10
while (num>=1):
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [3]:
user_number=int(input("Type something or 0 to quit!"))

while user_number!=0:
    user_number=int(input("Type something or 0 to quit!"))
    print(user_number)

0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [4]:
sum=0
num=0
while num<=10:
    sum=sum+num
    num+=1
sum

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [5]:
fruits ={'apple': 80, 'banana': 30, 'orange': 40, 'grape': 90}
for fruit in fruits.keys():
    print(fruit)

apple
banana
orange
grape

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [6]:
fruits ={'apple': 80, 'banana': 30, 'orange': 40, 'grape': 90}
for fruit in fruits.values():
    print(fruit)

80
30
40
90

### 20. Print both keys and values of a dictionary using a for loop

In [12]:
fruits ={'apple': 80, 'banana': 30, 'orange': 40, 'grape': 90}
for fruit in fruits.items():
    print(fruit)

('apple', 80)
('banana', 30)
('orange', 40)
('grape', 90)

### 21. Count how many keys are in a dictionary using a for loop

In [13]:
student_marks = {
    "Suraj": 95,
    "Guru": 88,
    "Athrv": 79,
    "Mangesh": 92
}
count=0

for key in student_marks.keys():
    count+=1

print(f"key count:{count}")

key count:4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [15]:
dict ={"apple":10,"banana":20,"orange":30,"avocado":40,"apricot":50,"cherry":60}
for key in dict:
    if key.startswith('a'):
        print(key)

apple
avocado
apricot

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [16]:
student_mark = {
    "Amisha": 95,
    "Prachi": 88,
    "ruhi": 79,
    "aaru": 92,
    "harsh":60,
}

for name,score in student_marks.items():
    if score>80:
        print(f"Name: {name}, Marks: {score}")

Name: Suraj, Marks: 95
Name: Guru, Marks: 88
Name: Mangesh, Marks: 92

### 24. Given a dictionary, print the sum of all the values using a for loop

In [17]:
val_sum=0
for score in student_marks.values():
        val_sum+=score

print(f"Sum: {val_sum}")

Sum: 354

### 25. Given a dictionary, find the key with the highest value using a for loop

In [18]:
high=0
for score in student_marks.values():
    if score>high:
        high=score

print(f"Highest Score: {high}")

Highest Score: 95

### 26. Convert all dictionary keys into a list using a for loop

In [19]:
dict26= {
    "Red": "#FF0000",
    "Green": "#00FF00",
    "Blue": "#0000FF",
    "Yellow": "#FFFF00"
}

key_list=[] 
for key in dict26:
    key_list.append(key)

print(key_list)

['Red', 'Green', 'Blue', 'Yellow']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [20]:
dict = {"python":6,"java":4,"c++":3,"javascript":10}
for key in dict:
    print(f"Language: {key}, Length: {dict[key]}")

Language: python, Length: 6
Language: java, Length: 4
Language: c++, Length: 3
Language: javascript, Length: 10

### 28. Given a list of numbers, print only numbers greater than 10

In [21]:
ls = [10,11,12,9,4,14,15]
for i in ls:
    if i>10:
        print(i)

11
12
14
15

### 29. Count how many elements in a list are integers using a for loop

In [22]:
li = [5,6,7,8,"amisha",90,10]
for i in li:
    if isinstance(i,int):
        print(i)

5
6
7
8
90
10

### 30. Print the sum of all even numbers in a list using a for loop

In [23]:
lst = [2,3,4,5,6,7,8,10,12,14,16]
sum = 0
for i in lst:
    if i%2==0:
        print(i)
    sum += i
print(f"Sum of even numbers: {sum}")

2
4
6
8
10
12
14
16
Sum of even numbers: 87

### 31. Print the cube of each number in a list of 5 numbers

In [24]:
lst = [5, 10, 15, 20, 25]
for i in lst:
    print(i**3)

125
1000
3375
8000
15625

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [27]:
str = "python is fun"
for char in str.split():
    print(char)

python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [30]:
for i in range(1,6):
    print(3*i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [31]:
lst34=['Amit','Shubham','Tejas','Atharv','Ashish']

for name in lst34:
    if name.startswith('A'):
        print(name)

Amit
Atharv
Ashish

### 35. Find the largest number in a list using a for loop

In [36]:
ls = [1, 2, 3, 4, 5]
large = ls[0]              
for i in range(len(ls)):
    if ls[i] > large:
        large = ls[i]

print("Largest number is:", large)

Largest number is: 5

### 36. Print the index and value of each element in a list

In [37]:
lst36=["Amisha",79,56,20,67,45.69]

for index in range(len(lst36)):
    print(f"{index}::{lst36[index]}")

0::Amisha
1::79
2::56
3::20
4::67
5::45.69

### 37. Create a dictionary with 5 students and their marks

In [39]:
stu_dict={"stud1":"Amisha","marks1":90,
          "stud2":"Rohi","marks2":75,
          "stud3":"Aaradhya","marks3":80,
          "stud4":"prachi","marks4":95,
          "stud5":"harshi","marks5":60}
stu_dict

{'stud1': 'Amisha',
 'marks1': 90,
 'stud2': 'Rohi',
 'marks2': 75,
 'stud3': 'Aaradhya',
 'marks3': 80,
 'stud4': 'prachi',
 'marks4': 95,
 'stud5': 'harshi',
 'marks5': 60}

### 38. Use a for loop to print all student names

In [40]:
for key in stu_dict.keys():
    if key.startswith("stud"):
      print(stu_dict[key])

Amisha
Rohi
Aaradhya
prachi
harshi

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [41]:
fruit_dict={
    "Apple": 190,
    "Banana": 150,
    "Orange": 100,
    "Mango": 200
}

for fruit, price in fruit_dict.items():
    print(f"{fruit}: Rs.{price}")

Apple: Rs.190
Banana: Rs.150
Orange: Rs.100
Mango: Rs.200

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

### 44. Print numbers from 0 to 9 using range()

### 45. Print numbers from 5 to 15 using range()

### 46. Print numbers from 1 to 20 with a step of 2 using range()

### 47. Print the length of a given list using len()

### 48. Print the length of a given string using len()

### 49. Use range() and len() to iterate over a list by index and print each element

### 50. Print the sum of numbers from 1 to 100 using range()