# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
stud = {"name":"amisha","age":24,"city":"kolhapur"}
stud

{'name': 'amisha', 'age': 24, 'city': 'kolhapur'}

2. Create a dictionary and print the value of a specific key.

In [3]:
stud = {"name":"amisha","age":24,"city":"kolhapur"}
stud.get("name")

'amisha'

3. Make a dictionary and add a new key-value pair to it.

In [5]:
stud = {"name":"amisha","age":24,"city":"kolhapur"}
stud.update({"marks":90})
stud

{'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 90}

4. Create a dictionary and change the value of an existing key.

In [7]:
stud = {"name":"amisha","age":24,"city":"kolhapur"}
stud.update({"marks":100})
stud

{'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}

5. Create a dictionary and remove one key using pop().

In [9]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.pop('marks')

100

6. Create a dictionary and remove the last inserted item using popitem().

In [10]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.popitem()

('marks', 100)

7. Create a dictionary and print all the keys.

In [11]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.keys()

dict_keys(['name', 'age', 'city', 'marks'])

8. Create a dictionary and print all the values.

In [12]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.values()

dict_values(['amisha', 24, 'kolhapur', 100])

9. Create a dictionary and print all the key-value items.

In [13]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.items()

dict_items([('name', 'amisha'), ('age', 24), ('city', 'kolhapur'), ('marks', 100)])

10. Make a dictionary and check the number of items using len().

In [14]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
len(dic)

4

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [15]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
if "name" in dic:
    print("key is exist in dic")
else:
    print("key is not exist in dict")

key is exist in dic

12. Create an empty dictionary and add two key-value pairs one by one.

In [24]:
dict = {}
dict["name"]="amsiha"
dict["marks"]=90
print(dict)

{'name': 'amsiha', 'marks': 90}

13. Create a dictionary and update one keyâ€™s value using update().

In [26]:
dic = {'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}
dic.update({"city":"pune"})
dic

{'name': 'amisha', 'age': 24, 'city': 'pune', 'marks': 100}

14. Create two dictionaries and combine them using update().

In [ ]:
dic = {'name': 'amisha', 'age': 24}
dic1 = {'city': 'kolhapur', 'marks': 100}
dic.update(dic1)
dic

{'name': 'amisha', 'age': 24, 'city': 'kolhapur', 'marks': 100}

15. Make a dictionary and get the value of a key using get().

In [34]:
dic = {'name': 'amisha', 'age': 24,'city': 'kolhapur', 'marks': 100}
dic.get("name")

'amisha'

16. Create a dictionary and print its type using type().

In [35]:
dic = {'name': 'amisha', 'age': 24,'city': 'kolhapur', 'marks': 100}
type(dic)

dict

17. Create a dictionary and replace one value with a new one.

In [37]:
dic = {'name': 'amisha', 'age': 24,'city': 'kolhapur', 'marks': 100}
dic['name'] = 'roohi'
dic

{'name': 'roohi', 'age': 24, 'city': 'kolhapur', 'marks': 100}

18. Create a dictionary and clear all items using clear().

In [39]:
dic = {'name': 'amisha', 'age': 24,'city': 'kolhapur', 'marks': 100}
dic.clear()
dic

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [40]:
new = {1:"amisha",2:"Roohi",3:"aaradhya"}
new

{1: 'amisha', 2: 'Roohi', 3: 'aaradhya'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [41]:
new = {1:"amisha",2:"Roohi",3:"aaradhya"}
new_copy = new.copy()
new_copy

{1: 'amisha', 2: 'Roohi', 3: 'aaradhya'}