# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
ls = [1,2,3,4,5]
ls.append(6)
ls

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [ ]:
fruits = ["apple","banana","watermelon","cherry"]
fruits.insert(2,"stawberry") #index 2
fruits

['apple', 'banana', 'stawberry', 'watermelon', 'cherry']

3. Create a list of names and remove one name from the list.

In [9]:
names = ["amisha","swara","sneha","teju","roohi"]
names.remove("amisha")
names

['swara', 'sneha', 'teju', 'roohi']

4. Create a list of 4 items and change the value at index 2.

In [13]:
li = ["mango","apple","banana","watermelon"]
li[2] = "cherry"
li

['mango', 'apple', 'cherry', 'watermelon']

5. Make a list of numbers and print only the first three elements.

In [16]:
num = [1,2,3,4,5,6]
num[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [19]:
col = ["blue","pink","green","white","black"]
col.index("blue")

0

7. Create a list of 10 numbers and print how many times “5” appears.

In [20]:
numbers = [1,2,3,4,5,5,6,5,7,5,8,10]
numbers.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [24]:
numbers = [1,2,3,4,5,5,6,5,7,5,8,1]
numbers.remove(4)
numbers

[1, 2, 3, 5, 5, 6, 5, 7, 5, 8, 1]

9. Create a list of animals and add three more animals using extend().

In [26]:
animals = ["dog","cat","caw"]
animals.extend(["abc","xyz","uop"])
animals

['dog', 'cat', 'caw', 'abc', 'xyz', 'uop']

10. Create a list and remove the last item using pop().

In [ ]:
numbers = [1,2,3,4,5,5,6,5,7,5,8,1]
numbers.pop()

1

11. Create a list of prices and sort them in ascending order.

In [29]:
prices = [90,80,102,67,677,90]
prices.sort()
prices

[67, 80, 90, 90, 102, 677]

12. Make a list of countries and reverse the order of the list.

In [32]:
country =["india","usa","germany","iran","irac","uk"]
country.reverse()
country

['uk', 'irac', 'iran', 'germany', 'usa', 'india']

13. Create a list of words and check if “apple” is in the list.

In [34]:
words = ["apple","banana","abc","xyz"]
if "apple" in words:
    print("word is present in the list")
else:
    print("word is not present in list")

word is present in the list

14. Create a list of numbers and print the largest and smallest number.

In [ ]:
num = [12,32,45,67,89,90]
max(num)#90
min(num)#12

12

15. Make a list of 5 items and print each item using a loop.

In [37]:
items = ["apple", "banana", "mango", "orange", "grapes"]
for item in items:
    print(item)

apple
banana
mango
orange
grapes

16. Create two lists and combine them into one list.

In [42]:
l1 = ["apple", "banana"]
l2 = ["mango", "orange", "grapes"]
l3 = l1+l2
l3
l1.extend(l2)
l1

['apple', 'banana', 'mango', 'orange', 'grapes']

17. Make a list and replace the last item with a new value.

In [45]:
fruits = ['apple', 'banana', 'mango', 'orange', 'grapes']
fruits[-1] = "pear"
fruits

['apple', 'banana', 'mango', 'orange', 'pear']

18. Create a list of numbers and print only the even numbers.

In [53]:
print("even numbers of the list",'')
num = [1,2,3,4,5,6,7,8,9,10,12,14,16,18]
for n in num:
    if n%2 == 0:
        print(n)

even numbers of the list
2
4
6
8
10
12
14
16
18

19. Create a list and clear all items from the list.

In [56]:
num = [1,2,3,4,5,6,7,8,9,10,12,14,16,18] 
num.clear()
num

[]

20. Create a list of 5 values and copy it into another list.

In [ ]:
num = [1,2,3,4,5]
num_copy =num.copy()
num_copy

[1, 2, 3, 4, 5]