In [2]:
a=10

In [3]:
print(a)

10

In [4]:
b=10

In [5]:
print(b)

10

In [ ]:
a == b #check values

True

In [ ]:
a is b #check memory location

True

In [8]:
#single line comment
"""Multiline comment"""

'Multiline comment'

### List Operations

In [9]:
ls= [10,20,30,40]

In [10]:
type(ls)

list

In [11]:
ls

[10, 20, 30, 40]

In [12]:
ls.append(50) #used to add value into end of the list

In [13]:
ls

[10, 20, 30, 40, 50]

In [14]:
ls.count(40) #used to count a specific value inside of the list

1

In [15]:
ls.index(30) #used to check indexing of the list value

2

In [16]:
#ls.clear()

In [17]:
ls

[10, 20, 30, 40, 50]

In [18]:
ls.reverse() #used to reverse the list

In [19]:
ls

[50, 40, 30, 20, 10]

In [20]:
ls.insert(2,50) # used to insert value on particular index

In [21]:
ls

[50, 40, 50, 30, 20, 10]

In [23]:
ls.pop() #used to remove last value of the list and it return that value also

20

In [ ]:
ls.sort() #used to sort values of the list

In [25]:
ls

[30, 40, 50, 50]

In [ ]:
ls.extend([51,52,53]) #use to add some values into list

In [27]:
ls

[30, 40, 50, 50, 51, 52, 53]

In [ ]:
ls.__add__([54,55,56]) #use to add values into list

[30, 40, 50, 50, 51, 52, 53, 54, 55, 56]

### Dictionary

In [25]:
dict = {"Name":"ABC","Marks":90,"Roll_no":101} # create dictionary

In [15]:
dict #print dictionary

{'Name': 'ABC', 'Marks': 90, 'Roll_no': 101}

In [16]:
dict["Name"] #access value using key

'ABC'

In [17]:
dict.get("Name") # access value using get function

'ABC'

In [18]:
dict.get("grade") #key is not available into dict , error is not showing

In [19]:
dict.copy()

{'Name': 'ABC', 'Marks': 90, 'Roll_no': 101}

In [20]:
dict.pop("Roll_no") #use to delete one specific key and it returns value of that key

101

In [21]:
dict.items() #use to return all key and value as a tuple

dict_items([('Name', 'ABC'), ('Marks', 90)])

In [22]:
dict.popitem() #use to remove first key value into dict

('Marks', 90)

In [23]:
#dict.clear()

In [24]:
dict

{'Name': 'ABC'}

### Set

In [47]:
set = {1,2,3,4,5,6,7,8,9,10}

In [27]:
set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
set.update({11,12,13})

In [30]:
set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [34]:
set.union() #use to modify the set and return the dictionary with remove duplicate values

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [35]:
set.update({1,2,3,4})

In [ ]:
set # return the set with remove duplicates

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [42]:
set1 = {1, 2, 3, 4, 5, 6}

In [41]:
set2 = {4, 5, 6,7, 8, 9, 10, 11, 12, 13}

In [43]:
set2

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [45]:
set1.difference(set2) # use to return set1 values but that the value is not available into set 2 
#In this case 1,2,3 values are return becasue they are not available into set2

{1, 2, 3}

In [50]:
set.pop() # use to remove random value in the set and return that value

2

In [49]:
set

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set.discard(2) #use to remove one sepecific value

In [53]:
set

{3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set.discard(11) #if the element is not exist in the set it not show an error ,it modifies the original set

In [55]:
set

{3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set.clear() # use to clear a set

In [57]:
set

set()

### Tuple

In [ ]:
tuple = ("mango",1,2,3,"apple") #create tuple

In [2]:
tuple

('mango', 1, 2, 3, 'apple')

In [3]:
tuple.count(1)

1

In [4]:
tuple.index(3)

3

In [5]:
tuple.index("apple")

4

In [7]:
tuple1 = (1,1,1,2,2,3,"Apple")

In [8]:
tuple1

(1, 1, 1, 2, 2, 3, 'Apple')

In [9]:
tuple1.count(1)

3

### String

In [35]:
str = "amishatorase"

In [36]:
str

'amishatorase'

In [37]:
str.capitalize() # use to first letter of string convert into upper case

'Amishatorase'

In [38]:
str.count("a") # use to count one character or number in string

3

In [39]:
str.upper() #convert string into upper case

'AMISHATORASE'

In [40]:
str.lower()

'amishatorase'

In [41]:
str.islower()

True

In [42]:
str.isupper()

False

In [43]:
str.replace("amisha","Ashok") # use to replace sring value

'Ashoktorase'

In [ ]:
str.find("torase") #use to find a length of that string value and it take space also

6

In [ ]:
str.split() # use to split string into one string

['amishatorase']

In [46]:
str1 = 'amisha torase'

In [47]:
str1

'amisha torase'

In [48]:
str1.split()

['amisha', 'torase']

In [49]:
str.startswith('amisha')

True

### slicing

In [50]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [51]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
lst[1:7]

[2, 3, 4, 5, 6, 7]

In [54]:
lst[0:7:2] #strat:stop:Step

[1, 3, 5, 7]

In [ ]:
lst[:3] #n-1

[1, 2, 3]

In [56]:
lst[-3:-1]

[8, 9]

In [57]:
lst[1:3]

[2, 3]