### What is a function in Python?

In [ ]:
"""
function is a block of reusable code that performs a specific task.
It helps in organizing code, improving readability, and reducing redundancy.
Functions can take inputs (parameters) and can return outputs (results).

"""

### Write the correct syntax of a Python function.

In [ ]:
"""
def function_name(parameters):
    Function body
    return result
"""

### What is the default return value of a function if no return statement is used?

In [4]:
def my_function():
    print("This is a simple function.")

my_function()

This is a simple function.

### Define a function named hello() that prints "Hello World".

In [3]:
def hello_world():
    return "Hello, World!"
hello_world()

'Hello, World!'

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [6]:
def math(a,b):
    return a + b
sum = math(5, 3)

print(sum)  #8

8

### What are positional arguments? Give an example.

In [ ]:
#positional arguments that must be passed in the correct order
def arg(name, age):
    print(f"Name: {name}, Age: {age}")
arg("Amisha", 24) #positional arguments can be passed only in the defined order

Name: Amisha, Age: 24

### What are keyword arguments? Give an example.

In [ ]:
"""
keyword arguments are used to pass arguments to a function by explicitly specifying the parameter names.
"""
def arg(name, age):
    print(f"Name: {name}, Age: {age}")
arg(age=24, name="Amisha") #keyword arguments can be passed in any order

Name: Amisha, Age: 24

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [8]:
def city(country):
    return "I live in " + country
city("India")

'I live in India'

### Write a function square(n) that returns the square of a number.

In [9]:
def square(num):
    return num * num
square(5)

25

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [18]:
#args in python function to handle variable number of arguments
def num(*args):
    return args
num(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [19]:
#**kwargs in python function to handle variable number of keyword arguments
def info(**kwargs):
    return kwargs
info(name="Amisha", age=24, city="New York")

{'name': 'Amisha', 'age': 24, 'city': 'New York'}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [ ]:
def Math(a,b):
    sum = a + b
    product = a * b
    return sum, product
result = Math(5, 3)
print(result)

(8, 15)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [ ]:
def even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
#even_odd(4)
even_odd(7)

'Odd'

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [24]:
"""adapter function in python is a design pattern that allows incompatible interfaces to work together. 
It acts as a bridge between two incompatible interfaces by converting the interface of one class into an interface expected
"""
def sum(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b
def adapter(func, a, b):
    return func(a, b)
result1 = adapter(sum, 5, 3)          # Calls sum(5, 3)
result2 = adapter(subtract, 5, 3)     # Calls subtract(5, 3)
result3 = adapter(multiply, 5, 3)     # Calls multiply(5, 3)
result4 = adapter(divide, 5, 3)       # Calls divide(5, 3)

print(result1)
print(result2)
print(result3)
print(result4)

8
2
15
1.6666666666666667

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [2]:
def process_students(data):
    for student in data:
        name = student['name']
        marks = student['marks']
        total_marks = sum(marks)

        if total_marks > 200:
            print("student passed:", total_marks)
        else:
            print("student failed:", total_marks)


students_data = [
    {'name': 'A', 'marks': [80, 90, 70]},
    {'name': 'B', 'marks': [60, 75, 65]},
]

process_students(students_data)

student passed: 240
student failed: 200

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [3]:
def apply_discount(products):
    for items in products:
        pname = items['name']
        price = items['price']
        discount = items['discount']

        updated_price = price - (price * discount / 100)
        print(f"Product: {pname}, Original Price: {price}, Discounted Price: {updated_price}")
products_list = [
    {'name': 'laptop', 'price': 50000, 'discount': 10},
    {'name': 'Phone', 'price': 20000, 'discount': 5}]
apply_discount(products_list)

Product: laptop, Original Price: 50000, Discounted Price: 45000.0
Product: Phone, Original Price: 20000, Discounted Price: 19000.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [2]:
def generate_report(employees):
    for emp in employees:
        id = emp['id']
        name = emp['name']
        age = emp['age']
        department = emp['department']
        salary = emp['salary']

        if salary > 50000:
            salary = salary + (salary * 15/100)
        elif salary in range(30000, 50001):
            salary = salary + (salary * 10/100)
        elif salary < 30000:
            salary = salary + (salary* 5/100)

        print(f"Employee: {name},age: {age},department:{department},Salary: {salary}")
employees_list = [
    {'id':101,'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000},
    {'id':102,'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 40000},
    {'id':103,'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000},
    {'id':104,'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000},
    {'id':105,'name': 'Vijay', 'age': 35, 'department': 'admin', 'salary': 35000},
    ]
generate_report(employees_list)

Employee: Amit,age: 28,department:IT,Salary: 63250.0
Employee: Neha,age: 24,department:HR,Salary: 44000.0
Employee: Raj,age: 31,department:Finance,Salary: 74750.0
Employee: Simran,age: 29,department:IT,Salary: 69000.0
Employee: Vijay,age: 35,department:admin,Salary: 38500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [5]:
def get_employee_names(emp_list):
    return [emp['name'] for emp in emp_list]
get_employee_names(employees_list)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [7]:
def filter_by_department(emp_list, department):
    return [emp for emp in emp_list if emp['department'] == department]
filter_by_department(employees_list, 'IT')

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000},
 {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000}]

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [9]:
def highest_salary(emp_list):
    return max(emp_list, key=lambda emp: emp['salary'])
highest_salary(employees_list)

{'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000}

### Write a function average_salary(emp_list) that returns the average salary.

In [13]:
def average_salary(emp_list):
    total_salary = sum(emp['salary'] for emp in emp_list)
    average_salary = total_salary / len(emp_list)
    return average_salary
average_salary(employees_list)

51000.0

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [16]:
def salary_hike(emp_list, percent):
    for emp in emp_list:
        emp['salary'] += emp['salary'] * (percent / 100)
    return emp_list
salary_hike(employees_list, 10)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 66550.0},
 {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 48400.0},
 {'id': 103,
  'name': 'Raj',
  'age': 31,
  'department': 'Finance',
  'salary': 78650.0},
 {'id': 104,
  'name': 'Simran',
  'age': 29,
  'department': 'IT',
  'salary': 72600.0},
 {'id': 105,
  'name': 'Vijay',
  'age': 35,
  'department': 'admin',
  'salary': 42350.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [19]:
def out_of_stock(items):
    low_stock_items = []

    for item in items:
        if item['stock'] < 20:
            low_stock_items.append(item)

    return low_stock_items
products = [
    {"name": "Laptop", "stock": 15},
    {"name": "Mouse", "stock": 50},
    {"name": "Keyboard", "stock": 10},
    {"name": "Monitor", "stock": 5}
]

result = out_of_stock(products)
print(result)

[{'name': 'Laptop', 'stock': 15}, {'name': 'Keyboard', 'stock': 10}, {'name': 'Monitor', 'stock': 5}]

### Write total_inventory_value(items) → sum(price * stock).

In [24]:
def total_inventory_value(items):
    total_value = 0
    for item in items:
        total_value += item['price'] * item['stock']
        sum = total_value
    return "sum of price and stock : " ,sum
total_inventory_value([
    {'name': 'Laptop', 'price': 50000, 'stock': 5},
    {'name': 'Phone', 'price': 20000, 'stock': 10},
    {'name': 'Tablet', 'price': 15000, 'stock': 8}])

('sum of price and stock : ', 570000)

### Write search_product(items, name) → return matching product(s).

In [6]:
def search_product(item,name):
    for product in item:
        if product['name'] == name:
            return product
    return "Product not found"
item_list = [
    {'name': 'laptop', 'price': 50000},
    {'name': 'Phone', 'price': 20000},
    {'name': 'Tablet', 'price': 15000}]
search_product(item_list, 'Phone')

{'name': 'Phone', 'price': 20000}